
  <body style="background-color:#D4DFED" ng-controller="checkoutcontroller">
    <!--nav bar-->

<header>

  <div class="upperBar">
    <i class="material-icons" ng-click="goback()" style="padding:13px;color:white">arrow_back</i><h6 class="nav-heading"> Checkout</h6>
    <div>
        <a href="#search"><i class="fa fa-search fa-2x" aria-hidden="true" id="search_icon_in"></i></a>
    </div>
    <!--Drop down menu-->
    <button ng-controller="myCtrl" ng-click="toggleClass()" class="dropbtn" style="width: 10%; border: none; background: none;margin-right:24px">
      <!-- <i class="fa fa-bars fa-2x" style="padding: 10px;"></i> -->
      <i class="material-icons dropdown">more_vert</i>
    </button>
    <div id="myDropdown" class="dropdown-content">
      <a href="#profile"><button>Profile</button></a>
      <a href="#myorders"><button>My Orders</button></a>
      <button>Logout</button>

    </div>
  </div>
</header>

<div id="page">

<!--coupon added-->
<div class="card" style="margin-top:45px;width:100%;margin-left:0px">
  <div class="card-block" >
    <p class="container" style="margin-top:15px;margin-bottom:-8px">Coupon Added</p>
    <hr>
  </div>
  <!--Dashed Box-->
<div style="height:200px;overflow-y:auto">
<div style="">
  <div class="dashedBox" style="margin-left:10px;margin-right:10px;">
      <div class="container">
         <p style="margin-top:10px">25% off on full body checkups</p>
         <p style="margin-top:-2px;margin-bottom:10px"><i class="fa fa-inr" style="color:grey"></i> <strike style="color:grey">150</strike> <span style="color:#218289">100</span></p>
      </div>
      <!--no of coupons-->
    <div>
      <div class="">
        <p ng-init="count1=0" style="margin-left:70%;margin-top:-47px;padding-bottom:8px"><img src="img/MINUSFADED-01.png" alt="" id="minusfadicon" ng-click="count1=count1-1"><span style="font-size:1.4em"> {{count1}} </span><img src="img/PLUS-01.png" alt="" id="plusicon" ng-click="dispbottbar();count1=count1+1"></p>
      </div>
   </div>
  </div>

  <div class="container">
    <hr>
  </div>
</div>
  <!--Dashed Box-->
<div style="">
  <div class="dashedBox" style="margin-left:10px;margin-right:10px;">
      <div class="container">
         <p style="margin-top:10px">25% off on full body checkups</p>
         <p style="margin-top:-2px;margin-bottom:10px"><i class="fa fa-inr" style="color:grey"></i> <strike style="color:grey">150</strike> <span style="color:#218289">100</span></p>
      </div>
      <!--no of coupons-->
    <div>
      <div class="">
        <p ng-init="count2=0" style="margin-left:70%;margin-top:-47px;padding-bottom:8px"><img src="img/MINUSFADED-01.png" alt="" id="minusfadicon" ng-click="count2=count2-1"><span style="font-size:1.4em"> {{count2}} </span><img src="img/PLUS-01.png" alt="" id="plusicon" ng-click="dispbottbar();count2=count2+1"></p>

      </div>
   </div>
  </div>

  <div class="container">
    <hr>
  </div>
</div>
  <!--Dashed Box-->
<div style="">
  <div class="dashedBox" style="margin-left:10px;margin-right:10px;">
      <div class="container">
         <p style="margin-top:10px">25% off on full body checkups</p>
         <p style="margin-top:-2px;margin-bottom:10px"><i class="fa fa-inr" style="color:grey"></i> <strike style="color:grey">150</strike> <span style="color:#218289">100</span></p>
      </div>
      <!--no of coupons-->
    <div>
      <div class="">
        <p ng-init="count3=0" style="margin-left:70%;margin-top:-47px;padding-bottom:8px"><img src="img/MINUSFADED-01.png" alt="" id="minusfadicon" ng-click="count3=count3-1"><span style="font-size:1.4em"> {{count3}} </span><img src="img/PLUS-01.png" alt="" id="plusicon" ng-click="dispbottbar();count3=count3+1"></p>
      </div>
   </div>
  </div>

  <div class="container">
    <hr>
  </div>
</div>

   <!--know more card-->
   <div ng-show="cardshow3">

   <div class="know">
     <div class="days">
       <ul style="padding-top:20px">
         <li><img src="img/DATE-01.png" alt="" id="dateicon"></li>
         <li style="margin-left:10px"><img src="img/SUNCLR-01.png" alt="" id="day"></li>
         <li><img src="img/MONCLR-01.png" alt="" id="day"></li>
         <li><img src="img/TUE-01.png" alt="" id="day"></li>
         <li><img src="img/WED-01.png" alt="" id="day"></li>
         <li><img src="img/THU-01.png" alt="" id="day"></li>
         <li><img src="img/FRI-01.png" alt="" id="day"></li>
         <li><img src="img/SAT-01.png" alt="" id="day"></li>
       </ul>
       <div class="">
         <img src="img/TIME-01.png" alt="" id="clockicon">
         <p class="timing"> 9:30 AM to 6:00 PM</p>
       </div>
     </div>
     <div style="margin-left:40px;padding-bottom:20px;font-size:0.8em">
       <ul>
         <li>Full body checkups</li>
         <li>Full body checkups</li>
         <li>Full body checkups</li>
       </ul>

     </div>
   </div>
  </div>
</div>
</div>

<!--payment detail heading-->
<div class="card" style="width:100%;margin-left:0px">
  <p class="container" style="color:#737373;margin-top:6px;margin-bottom:-12px">Payment Detail</p>
  <hr style="border-top: 1px solid #CFCFCF">
  <!--payment details-->
<div class="container" style="margin-top:-5px">
  <!--first line-->
  <div class="row" style="margin-top:-12px">
    <div class="col-xs-6" style="margin-left:10%">
      <p style="color:#737373">Actual Price</p>
    </div>
    <div class="col-xs-6" style="margin-left:45px">
      <p style="color:#737373"><i class="fa fa-inr" aria-hidden="true"></i> 150</p>
    </div>
  </div>
  <hr style="margin-top:-10px;border-top: 1px solid #CFCFCF">

<!--second line-->
<div class="row" style="margin-top:-15px">
  <div class="col-xs-6" style="margin-left:10%">
    <p style="color:#737373">You Pay</p>
  </div>
  <div class="col-xs-6" style="margin-left:45px">
    <p><i class="fa fa-inr" aria-hidden="true"></i> <span style="color:#218289">100</span></p>
  </div>
</div>
<hr style="margin-top:-10px;border-top: 1px solid #CFCFCF">
<!--third line-->
<div class="row" style="margin-top:-15px">
  <div class="col-xs-6" style="margin-left:10%">
    <p style="color:#737373">You Save</p>
  </div>
  <div class="col-xs-6" style="margin-left:45px">
    <p><i class="fa fa-inr" aria-hidden="true"></i> <span style="color:#737373">150</span></p>
  </div>
</div>



</div>
<!--total-->
<hr style="margin-top:-10px;border-top: 1px solid #CFCFCF">
<div class="container">
  <div class="row" style="margin-top:-10px">
    <div class="col-xs-6" style="margin-left:10%">
      <p style="color:#737373">All Total</p>
    </div>
    <div class="col-xs-6" style="margin-left:45px">
      <p><i class="fa fa-inr" aria-hidden="true"></i> <span style="color:#218289">100</span></p>
    </div>
  </div>
</div>
</div>
<!--Get discount-->
<div>
  <a href="#discount">
    <div class="dis_btn">
      <p style="padding-top:6px">Get Discount</p>
    </div>
  </a>
</div>

<!--paynow bar-->
<div class="paynowbar">
   <h5 class="text-center" style="color:white;padding:3px">Pay Now</h5>

</div>

</div>


  </body>
