
<!--navbar-->
<header id="navbar">
  <!--location icon-->
<div  class="navbar">
  <div class="row">
    <div class="col-xs-2">
      <div class="" ng-click="goback()">
        <i class="material-icons" style="font-size:2em;margin: 5px 0px 5px 5px">arrow_back</i>

      </div>
    </div>
    <div class="col-xs-6">
      <div class="" style="margin: 8px 5px 5px -10px">
        <p style="font-size:1.3em;font-weight:bold;margin: 10px 5px 5px 0px">Bangalore</p>
      </div>
    </div>
    <div class="">
      <div class="" style="margin: 8px 5px 5px -8px">
      </div>
    </div>
    <div class="col-xs-2">
      <div class="" style="position: fixed;right: 0;padding-right: 50px">
        <i class="material-icons search-icon">search</i>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="" style="position: fixed;right: 0;padding-right: 10px">
        <i class="material-icons toggle-menu" style="font-size: 2em;padding-top:5px" >more_vert</i>
      </div>
    </div>
  </div>

  </div>
</div>
</header>

<!--slide menu-->
<div class="sidebar-menu hide-menu">
  <div class="">
    <i class="material-icons" id="cancel" style="margin: 10px">clear</i>
  </div>
  <div class="">
     <div class="menu">
       <p>Profile</p>
       <hr>
       <p>My Tickets</p>
       <hr>
       <p>Status</p>
       <hr>
       <p>Logout</p>
     </div>

  </div>
</div>

<div class="" id="back-cover">

</div>


 <div class="" id="page">
  <!--card-->
  <div class="card" style="margin-top:45px;width: 100%;margin-left: 0px">
    <img class="card-img-top" src="img/loadingpage.png" lazy-img="https://www.eventcombo.com/Images/ECImages/3414eb64-1a48-415a-915d-4823abc68fca.jpg" alt="" id="news-image">
    <!--image content-->
    <div style="color: white">
      <div class="">
        <div class="">
          <div class="" style="position:absolute;margin: -35px 0px 0px 10px">
            <p style="font-size: 1em">Offline</p>
          </div>
        </div>
        <div class="">
          <div class="" style="position: absolute;right: 0;margin: -35px 15px 0px 0px">
            <p style="font-size: 0.9em;float: right">#music #bangalore #party</p>
          </div>
        </div>
      </div>
    </div>
    <!--Events Detail-->
    <div>
      <!--left content-->
      <div class="" style="color: black;margin: 10px 0px 0px 10px">
        <p style="font-size: 1em;">Venue</p>
      </div>
      <div class="" style="color: grey;margin: -5px 0px 0px 10px;font-size: 0.9em">
        <p>Level 3,Transit Second,The Forum Value </p>
        <p style="margin-top:-16px">Hebbal Road, Bangalore </p>
        <p style="margin-top:-16px">Karnataka,560056</p>
      </div>
      <!--right content-->
      <div class="" style="position: absolute;right: 0;margin: -30px 20px 0px 0px">
        <p style="font-size: 0.9em;float: right;font-weight: bold">Timing</p>
      </div>
      <!--clinic description-->

    </div>
</div>
<!--coupon detail-->







<!--Address-->
<div class="card" style="width: 100%;margin-left: 0px">
  <div class="card-img-top" id="mapimage"></div>
  <div>
    <img src="img/map-directions.png" alt="" id="get_directions" ng-click="get_dir()">
  </div>
  <div class="">
    <p class="container" style="margin-top: 5px">Address</p>
    <hr style="margin-top:-5px">
    <div class="container" style="font-size:0.9em;margin-top:-5px">
      <p>Level 3,Transit Second,The Forum Value </p>
      <p style="margin-top:-16px">Hebbal Road, Bangalore </p>
      <p style="margin-top:-16px">Karnataka,560056</p>
    </div>
    <!--phone num-->
    <p class="container" style="font-size:0.9em;margin-top:-6px"><i class="fa fa-phone" aria-hidden="true"></i> 99457485556</p>
    <!--website-->
    <p class="container" style="font-size:0.9em;margin-top:-6px"><i class="fa fa-envelope" aria-hidden="true"></i> www.sakara.com</p>
  </div>
</div>




<!--review card-->
<div class="card cardfull" style="margin-bottom:60px">
  <div>
   <div class="container">
     <p style="font-size:1.1em;margin-top:3px">Review</p>
   </div>
   <div class="" style="position:absolute;right:0px;margin-top:-25px">
     <ul style="list-style:none;margin-top:-5px">
        <li style="display:inline-block"><p>Write your review</p></li>
        <li style="display:inline-block"><img src="img/WRITEREVIEW-01.png" alt="" style="height:18px;width:18px;margin-right:10px"></li>
     </ul>
   </div>
  </div>
  <hr style="margin-top:-2px">
  <!--review-->
  <div class="container">
    <div class="">
      <p>Shoib Malik &nbsp;<span style="font-size:0.8em">3.5<i class="fa fa-star" style="color:#218289"></i></span></p>
      <p style="font-size:0.8em;color:#218289;margin-top:-15px">16 Jan, 2017 </p>
      <p>Wonderful experince, I really loved their servive awesome,recommended to all.</p>
      <hr>
    </div>
    <div class="">
      <p>Malik Miran&nbsp;<span style="font-size:0.8em">3.5<i class="fa fa-star" style="color:#218289"></i></span></p>
      <p style="font-size:0.8em;color:#218289;margin-top:-15px">16 Jan, 2017 </p>
      <p>Wonderful experince, I really loved their servive awesome,recommended to all.</p>
      <hr>
    </div>
   <div ng-show="cardshow4">
     <div class="">
      <p>Arun Kumar &nbsp;<span style="font-size:0.8em">3.5<i class="fa fa-star" style="color:#218289"></i></span></p>
      <p style="font-size:0.8em;color:#218289;margin-top:-15px">16 Jan, 2017 </p>
      <p>Wonderful experince, I really loved their servive awesome,recommended to all.</p>
     </div>
  </div>
  </div>
  <div class="text-center" style="margin-top:-10px">
    <hr>
    <p style="margin-top:-10px;margin-bottom:2px" ng-click="toggle4 = !toggle4">{{toggleText4}} <img ng-src="{{imgurl4}}" alt="" id=showmoreicon></p>
  </div>
</div>






<!--bottom bar-->
<footer>
 <div class="bottomBar">
   <!--total amount-->
    <div class="container">
      <p style="font-size:0.8em;margin-top:3px">Total Amount</p>
      <p style="margin-top:-14px;margin-bottom:6px"><i class="fa fa-inr"></i> <strike>150</strike> 100</p>
    </div>

     <div class="" >
        <h5 class="buynow"><a href="#checkout" style="color:white"><span style="padding:13px">Buy Now</span></a> <img src="" alt=""></h5>
     </div>


 </div>


</footer>





</div>
