
    <link href="css/clinicdetail.css" rel="stylesheet">




<body style="background-color:#D4DFED" ng-controller="hospdetailcontroller">
  <!--nav bar-->
  <header>

    <div class="upperBar">
      <i class="material-icons" ng-click="goback()" style="padding:13px">arrow_back</i><h6 class="nav-heading"> {{hospname}}</h6>
      <div>
          <a href="#search"><i class="fa fa-search fa-2x" aria-hidden="true" id="search_icon_in"></i></a>
      </div>
      <!--Drop down menu-->
      <button ng-controller="myCtrl" ng-click="toggleClass()" class="dropbtn" style="width: 10%; border: none; background: none;">
        <!-- <i class="fa fa-bars fa-2x" style="padding: 10px;"></i> -->
        <i class="material-icons dropdown" >more_vert</i>
      </button>
      <div id="myDropdown" class="dropdown-content">
        <a href="#profile"><button>Profile</button></a>
        <a href="#myorders"><button>My Orders</button></a>
        <button>Logout</button>


      </div>
    </div>
  </header>


 <div class="" id="page">
  <!--card-->
  <div class="card cardfull" style="margin-top:42px">
    <img class="card-img-top" src="img/loadingpage.png" lazy-img="https://hrelate.in/img/user_profile/sakra-world-hospital-bellandur-pune438081496.jpg" alt="" id="hospitalImaged">
    <!--Hospital Detail-->
    <div>
      <!--left content-->
      <div class="container" style="margin-top:5px">
        <h5 style="line-height:90%"> {{hospname}}<br><span style="font-size:0.8em;color:grey">Alopathy</span></h5>
      </div>
      <!--right content-->
      <div id="rightcontent">
        <p style="font-size:0.8em;line-height:135%"><img src="img/location-01-01.png" alt="" id="locationicon"> Hebbal <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.5<i class="fa fa-star" style="color:#218289"></i></p>
      </div>
      <!--hosp detail-->
      <div class="container" >
        <p style="line-height: 110%;font-size:0.9em">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div class="container cardshow1" ng-if="cardshow">
        <p style="line-height: 110%;font-size:0.9em">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <hr style="margin-top:0px">
      <div class="text-center" style="margin-top:-10px;margin-bottom:-8px;font-size:0.9em">
        <p ng-click="toggle1 = !toggle1">{{toggleText1}} <img ng-src="{{imgurl1}}" alt="" id="showmoreicon"></p>
      </div>

    </div>
  </div>
  <!--coupons-->
  <!--coupon detail-->

  <div class="card cardfull" >
    <div class="container" style="margin-top:4px;margin-bottom:-8px">
      <p>Coupons</p>
    </div>
    <hr style="margin-top:4px">
    <!--coupon Box-->
  <div>
    <!--Dashed Box-->
  <div>
    <div class="dashedBox" style="margin-left:10px;margin-right:10px;">
        <div class="container">
           <p style="margin-top:10px">25% off on full body checkups</p>
           <p style="margin-top:-2px;margin-bottom:0px"><i class="fa fa-inr" style="color:grey"></i> <strike style="color:grey">150</strike> <span style="color:#218289">100</span></p>
        </div>
        <!--no of coupons-->
      <div>
        <div class="">
          <p ng-click="toggle2 = !toggle2" style="margin-left:90px;margin-top:-21px;border: 1px solid white;width:95px">{{toggleText2}} <img ng-src="{{imgurl2}}" alt="" id="showmoreicon"></p>
          <p ng-init="count=0" style="margin-left:70%;margin-top:-47px;padding-bottom:8px"><img src="img/MINUSFADED-01.png" alt="" id="minusfadicon" ng-click="count=count-1"><span style="font-size:1.4em"> {{count}} </span><img src="img/PLUS-01.png" alt="" id="plusicon" ng-click="dispbottbar();count=count+1"></p>

        </div>
     </div>
    </div>

    <div class="container">
      <hr>
    </div>
</div>
<!--know more card-->

<div ng-show="cardshow2">

<div class="know">
  <div class="days">
    <ul style="padding-top:20px">
      <li><img src="img/DATE-01.png" alt="" id="dateicon"></li>
      <li style="margin-left:10px"><img src="img/SUNCLR-01.png" alt="" id="day"></li>
      <li><img src="img/MONCLR-01.png" alt="" id="day"></li>
      <li><img src="img/TUE-01.png" alt="" id="day"></li>
      <li><img src="img/WED-01.png" alt="" id="day"></li>
      <li><img src="img/THU-01.png" alt="" id="day"></li>
      <li><img src="img/FRI-01.png" alt="" id="day"></li>
      <li><img src="img/SAT-01.png" alt="" id="day"></li>
    </ul>
    <div class="">
      <img src="img/TIME-01.png" alt="" id="clockicon">
      <p class="timing"> 9:30 AM to 6:00 PM</p>
    </div>
  </div>
  <div style="margin-left:40px;padding-bottom:20px;font-size:0.8em">
    <ul>
      <li>Full body checkups</li>
      <li>Full body checkups</li>
      <li>Full body checkups</li>
    </ul>

  </div>
</div>

</div>
</div>
<!-- 2nd cuopon-->
<div>
  <!--Dashed Box-->
<div>
  <div class="dashedBox" style="margin-left:10px;margin-right:10px;">
      <div class="container">
         <p style="margin-top:10px">25% off on full body checkups</p>
         <p style="margin-top:-2px;margin-bottom:0px"><i class="fa fa-inr" style="color:grey"></i> <strike style="color:grey">150</strike> <span style="color:#218289">100</span></p>
      </div>
      <!--no of coupons-->
    <div>
      <div class="">
        <p ng-click="toggle21 = !toggle21" style="margin-left:90px;margin-top:-21px;border: 1px solid white;width:95px">{{toggleText21}} <img ng-src="{{imgurl21}}" alt="" id="showmoreicon"></p>
        <p ng-init="count=0" style="margin-left:70%;margin-top:-47px;padding-bottom:8px"><img src="img/MINUSFADED-01.png" alt="" id="minusfadicon" ng-click="count=count-1"><span style="font-size:1.4em"> {{count}} </span><img src="img/PLUS-01.png" alt="" id="plusicon" ng-click="dispbottbar();count=count+1"></p>

      </div>
   </div>
  </div>

  <div class="container">
    <hr>
  </div>
</div>
<!--know more card-->

<div ng-show="cardshow21">

<div class="know">
<div class="days">
  <ul style="padding-top:20px">
    <li><img src="img/DATE-01.png" alt="" id="dateicon"></li>
    <li style="margin-left:10px"><img src="img/SUNCLR-01.png" alt="" id="day"></li>
    <li><img src="img/MONCLR-01.png" alt="" id="day"></li>
    <li><img src="img/TUE-01.png" alt="" id="day"></li>
    <li><img src="img/WED-01.png" alt="" id="day"></li>
    <li><img src="img/THU-01.png" alt="" id="day"></li>
    <li><img src="img/FRI-01.png" alt="" id="day"></li>
    <li><img src="img/SAT-01.png" alt="" id="day"></li>
  </ul>
  <div class="">
    <img src="img/TIME-01.png" alt="" id="clockicon">
    <p class="timing"> 9:30 AM to 6:00 PM</p>
  </div>
</div>
<div style="margin-left:40px;padding-bottom:20px;font-size:0.8em">
  <ul>
    <li>Full body checkups</li>
    <li>Full body checkups</li>
    <li>Full body checkups</li>
  </ul>

</div>
</div>

</div>
</div>

</div>

<!--Facilities-->
<div class="card cardfull">
   <div>
     <p class="container" style="margin-top:5px">Facilities</p>
     <hr style="margin-top:-5px">
   </div>
   <div class="row" style="font-size:0.9em">
     <div class="col-sm-6">
       <ul class="" style="margin-left:8px">
         <li><img src="img/AMBULANCE-01.png" alt="" style="height:23px;width:23px"><p style="margin-left:27px;margin-top:-25px">Ambulance</p></li>
         <li><img src="img/ICU-01.png" alt="" style="height:23px;width:23px"><p style="margin-left:27px;margin-top:-25px">ICU</p></li>
         <li><img src="img/CARE24-01.png" alt="" style="height:23px;width:23px"><p style="margin-left:27px;margin-top:-25px">Emergency Care</p></li>
       </ul>
     </div>
     <div class="col-sm-6">
       <ul class="" style="margin-left:-6px">
         <li><img src="img/PHARMACYATTACHED-01.png" alt="" style="height:23px;width:23px"><p style="margin-left:27px;margin-top:-25px">Pharmacy Attached</p></li>
         <li><img src="img/LABATTACHED-01.png" alt="" style="height:23px;width:23px"><p style="margin-left:27px;margin-top:-25px">Lab Attached</p></li>
         <li><img src="img/ORGANTRANS-01.png" alt="" style="height:23px;width:23px"><p style="margin-left:27px;margin-top:-25px">Organ Transplantation</p></li>
       </ul>
    </div>
   </div>
   <hr>
   <div class="text-center">
     <p style="margin-top:-10px;margin-bottom:2px">Show More <img src="img/SHOWMORE-01.png" alt="" id=showmoreicon></p>
   </div>
</div>


<!--Address-->
<div class="card cardfull">
  <div class="card-img-top" id="mapimage"></div>
  <div>
    <img src="img/map-directions.png" alt="" id="get_directions" ng-click="get_dir()">
  </div>
  <div class="">
    <p class="container" style="margin-top: 5px">Address</p>
    <hr style="margin-top:-5px">
    <div class="container" style="font-size:0.9em;margin-top:-5px">
      <p>Level 3,Transit Second,The Forum Value </p>
      <p style="margin-top:-16px">Hebbal Road, Bangalore </p>
      <p style="margin-top:-16px">Hebbal Road, Bangalore </p>
    </div>
    <!--phone num-->
    <p class="container" style="font-size:0.9em;margin-top:-6px"><i class="fa fa-phone" aria-hidden="true"></i>  99457485556</p>
    <!--website-->
    <p class="container" style="font-size:0.9em;margin-top:-6px"><i class="fa fa-envelope" aria-hidden="true"></i> www.sakara.com</p>
  </div>
</div>

<!--review card-->
<div class="card cardfull" style="margin-bottom:60px">
  <div>
   <div class="container">
     <p style="font-size:1.1em;margin-top:3px">Review</p>
   </div>
   <div class="" style="position:absolute;right:0px;margin-top:-25px">
     <ul style="list-style:none">
        <li style="display:inline-block"><p>Write your review</p></li>
        <li style="display:inline-block"><img src="img/WRITEREVIEW-01.png" alt="" style="height:15px;width:15px"></li>
     </ul>
   </div>
  </div>
  <hr style="margin-top:-2px">
  <!--review-->
  <div class="container">
    <div class="">
      <p>Shoib Malik &nbsp;<span style="font-size:0.8em">3.5<i class="fa fa-star" style="color:#218289"></i></span></p>
      <p style="font-size:0.8em;color:#218289;margin-top:-15px">16 Jan, 2017 </p>
      <p>Wonderful experince, I really loved their servive awesome,recommended to all.</p>
      <hr>
    </div>
    <div class="">
      <p>Malik Miran&nbsp;<span style="font-size:0.8em">3.5<i class="fa fa-star" style="color:#218289"></i></span></p>
      <p style="font-size:0.8em;color:#218289;margin-top:-15px">16 Jan, 2017 </p>
      <p>Wonderful experince, I really loved their servive awesome,recommended to all.</p>
      <hr>
    </div>
   <div ng-show="cardshow4">
     <div class="">
      <p>Arun Kumar &nbsp;<span style="font-size:0.8em">3.5<i class="fa fa-star" style="color:#218289"></i></span></p>
      <p style="font-size:0.8em;color:#218289;margin-top:-15px">16 Jan, 2017 </p>
      <p>Wonderful experince, I really loved their servive awesome,recommended to all.</p>
     </div>
  </div>
  </div>
  <div class="text-center" style="margin-top:-10px">
    <hr>
    <p style="margin-top:-10px;margin-bottom:2px" ng-click="toggle4 = !toggle4">{{toggleText4}} <img ng-src="{{imgurl4}}" alt="" id=showmoreicon></p>
  </div>
</div>


<!--bottom bar-->
<footer>
 <div class="bottomBar" id="bottomBar">
   <!--total amount-->
    <div class="container">
      <p style="font-size:0.8em;margin-top:3px">Total Amount</p>
      <p style="margin-top:-14px;margin-bottom:6px"><i class="fa fa-inr"></i> <strike>150</strike> 100</p>
    </div>

     <div>
        <h5 class="buynow"><a href="#checkout" style="color:white"><span style="padding:13px">Buy Now</span></a> <img src="" alt=""></h5>
     </div>
 </div>
</footer>

</div>
