
<!--loading page-->
<div ng-show="loading">
  <div id="loading">
    <img id="loading-image" src="img/loader3.gif" alt="Loading..." />
  </div>
</div>

<div style="background-image:url(img/loginpng-01.png);background-color:white;margin-bottom:-105px;position:fixed" id="backimage">

<div class="">
  <div class="row">
    <div class="col-xs-4" style="margin-top:67%;margin-left:50px;">
      <img src="img/PHONE-01.png" alt="" id="" style="height:27px;width:30px;margin-bottom:0px">
    </div>
    <div class="col-xs-8" style="margin-left:-70px;margin-top:65%">
      <form class="" action="index.html" method="post">
        <input type="text" placeholder="Enter your mobile number" name="" ng-model="user.mobile_no" value="" id="textfield" >
        <hr style="margin-top:1px">
      </form>
    </div>
  </div>
    <!--Login button-->

      <div class="login" ng-click="login()">
        <p style="padding-top:5px">Login</p>
      </div>

      <!--status-->
      <div class="text-center">
        <p style="color:red;margin-top:20px">{{status}}</p>
      </div>

  <!--line -->
  <hr class="hrbottom">
  <!--lower heading -->
 <div class="text-center"style="padding-bottom:180px">
   <p><span style="color:grey">New to Heymedy? </span><a href="#register"><span style="color:#218289">Register</span></a></p>
</div>





</div>

</div>
