<style media="screen">
  input::placeholder {
     padding-left:30px;
  }
</style>

<!--loading page-->
<div ng-show="loading">
  <div id="loading">
    <img id="loading-image" src="img/loader3.gif" alt="Loading..." />
  </div>
</div>


<div  style="background-color:white;background-image:url(img/otppng-04.png);margin-bottom:-80px;position:fixed" id="backimage">

  <div class="">
    <div class="text-center heading">
      <p>We have sent you the verification code</p>
    </div>
    <div class="row">
      <div class="col-xs-4 col-xs-offset-5">

      <!-- Simple Textfield -->
      <form class="" action="index.html" method="post">
        <input type="text" placeholder="otp" name="" value="" ng-model="user.otp" id="textfield">
        <hr style="margin-top:0px">
      </form>

      </div>
    </div>
    <!--verify button -->

      <div class="verify" ng-click="verify()">
        <p style="padding-top:7px">Verify</p>
      </div>


    <div class="text-center" style="color:#218289;margin-top:25px;padding-bottom:67%">
      <p ng-click="resend_otp()">Resend OTP</p>
      <p style="color:red;margin-top:30px">{{status}}</p>
    </div>






  </div>

 </div>
